@import './../Conts';
.slider{
  padding: 150px 0;
  .slider__title{
    font-family: 'Neue Helvetica Bold';
    font-size: 64px;
    color:$black;
    width: 60%;
    text-align: center;
    margin: 0 auto;
  }
  .carousel-block{
    .carousel{
      padding: 120px 0 40px;
      width: 4000px;
      display: flex;
      .carousel__item{
        margin-right: 30px;
        width: 425px;
        padding: 50px 40px 40px 45px;
        box-shadow: 10px 10px 50px 3px rgba(39, 92, 141, 0.1);
        border-radius: 12px;
        background: $white;
        .carousel__item__title{
          font-family: 'Neue Helvetica Medium';
          font-size: 44px;
          color:$black;
        }
        .carousel__item__text{
          font-family: 'Neue Helvetica Condensed';
          font-size: 24px;
          color:$black;
          margin: 38px 0;
        }
        .carousel__item__link{
          font-family: 'Neue Helvetica Bold';
          font-size: 21px;
          opacity: 0.5;
        }
        .carousel__item__link:hover{
          color:$primary;
        }
      }
    }
    .arrows{
      .arrow{
        width: 50px;
        height: 50px;
        background: none;
      }
    }
  }
}