  @font-face {
  font-family: 'Neue Helvetica Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('Neue Helvetica Condensed'), url('../fonts/Neue LT 57 Condensed.woff') format('woff');
  }
  @font-face {
  font-family: 'Neue Helvetica Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Neue Helvetica Medium'), url('../fonts/Neue LT 65 Medium.woff') format('woff');
  }
  @font-face {
  font-family: 'Neue Helvetica Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Neue Helvetica Bold'), url('../fonts/Neue LT 75 Bold.woff') format('woff');
  }
  