@import './Conts';
@import './Fonts';
.button{
  font-family: 'Neue Helvetica Bold';
  font-size: 30px;
  color:$white;
  background: none;
  background: $primary;
  padding: 15px 35px;
  border: 5px solid $primary;
  transition: all .7s;
  border-radius:8px;
}
.button:hover{
  background: $white;
  border: 5px solid $primary;
  color:$primary;
}
.header__button{
  padding: 9px 18px;
  font-size: 18px;
  background: none;
  border: 2px solid $primary;
  color:$primary;
}
.header__button:hover{
  background: $primary;
  border: 2px solid $primary;
  color:$white;
}
@media(max-width:1279px){
  .button,.header__button{
    padding: 20px 40px;
    font-size: 18px;
  }
}